<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Заполните поля:</h2>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <input type="submit" value="Create User">
</form>
</body>
</html>