<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<h2>Введите новые данные:</h2>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id"></label>
    <input readonly type="number" th:field="*{id}" id="id" style="display:none;">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <br style="margin-bottom: 10px;">
    <br/>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    <br style="margin-bottom: 10px;">
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <br style="margin-bottom: 10px;">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>